body{
    min-width:1340px;
}
.sub-menu{
    display: none;
}
.header-1 ul li:hover .sub-menu{
    display: block;
    position:absolute;
    margin-top: 12px;
    margin-left: -15px;
}
.header-1 ul li:hover .sub-menu ul li{
    width: 120px;
    text-align: left;
    border-bottom: 1px solid white;
}
.sub-menu ul li:hover{
    background-color: white;
    color:black;
}
.header-1 ul{
    background-color: blue;
    margin: -10px;
    padding:0px;
}
.header-1 ul li:nth-child(4)
{
    padding-left: 63%;
}
.header-1 ul li:nth-child(5)
{
    padding-left: 2%;
}
.header-1 li {
    display: inline-block;
    padding: 4px;
    color:white;
}
.header-2 ul li img
{
    width: 15px;
    height:15px;
    margin-top: 3px;
    border:1px solid darkgray;
    border-radius: 15px;
    position:relative;
    top:4px;
}
.header-2 ul {
    background-color:white;
}
.header-2 ul li{
    display: inline;
}
.header-2 ul li:nth-child(2){
    padding-left: 10%;
}
.header-2 ul li:nth-child(4){
    padding-left: 20%;
}
#btn{
    background-color: blue;
    border-radius: 5px;
    color:white;
}
#btn,#searchbar{
    border:1px solid darkgray;
}
#searchbar{
    color:blue;
    width:35%;
    border-radius: 5px;
}
.header-3 ul li{
    display: inline;
    color:black;
    font-weight: bold;
    font-size: large;
}
.header-3 ul li img
{
    width: 20px;
    height:20px;
    margin-top: 3px;
    position:relative;
    top:4px;
}
.header-3 ul li{
    Padding:1% 1% 0.2% 1%;
    margin-bottom: 1%;
}
.header-3 ul li:first-child:hover{
    border:none;
}
.header-3 ul li:hover{
    border-bottom: 2px solid blue;
}
.header-4 img{
    width:100%;
    height: 50%;
    border-radius: 5px;
}
.header-4 p span{
    font-size: 50px;
}
.header-4 p {
    position: relative;
    bottom: 100px;
    Color:white;
    bottom: 220px;
    Right: 220px;
    letter-spacing: 2px;
    text-align: center;
}
.header-5 .Block-1 img{
    width:5%;
}
.header-5 .Block-2 img{
    width:10.7%;
}
.header-5 .Block-3 img{
    width:7.5%;
}
.header-5{
    border: 2px solid darkgray;
    border-radius: 10px;
}
.header-5 .Block-2{
    display: inline;
    position: absolute;
    left: 32%;
    top:75%;
}
.header-5 .Block-3{
    display: inline;
    position: absolute;
    left: 65%;
    top:75%;
}
.header-5{
    margin-top:-7.3%;
}
h3{
    color:blue;  
}
.header-6{
    width: 110%;
    height: auto;
    display: flex;
    margin-left: -15px;
}
.header-6 .box:hover img{
    width: 254px;
    height:252px;
}
.header-6 .box:hover{
    border-color: blue;
}
.header-6 .box:hover #rate{
    color:blue;
}
.box{
    width: 20%;
    height:400px;
    margin:20px;
    padding-left:5px;
    border: 1px solid darkgray;
    border-radius: 7px;
}
.box img{
    width: 250px;
    height: 250px;
}
.box #star{
    width: 48%;
    height: 20px;
    margin-top:-20px;
}
.review{
    position:relative;
    left:53%;
    top:-8.7%;
    color: darkgray;
}
#rate{
    position: relative;
    top:-11%;
    font-weight: bolder;
    font-size:x-large;
}
.rate1{
    position:relative;
    top:-50px;
    bottom:0px;
    padding-top: 30px;
    font-weight: bolder;
    font-size:x-large;
}
.header-7{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(243, 240, 235);
}
.lbox{
    width:15%;
    background-color: white;
    height: 130px;
    margin: 2%;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
#ours{
    background-color: rgb(243, 240, 235);
    margin-bottom: 0px;
}
.header-7 .lbox img{
    width:90%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin:10px;
    border-bottom: 1px solid darkgray;
}
#para{
    margin-left: 25%;
    margin-top:0px;
    font-weight: bolder;
}
#dell,#Oracle{
    width: 60%;
    padding-left: 10px;
}
#nasa,#amazon
{
    width: 70%;
}
.header-8{
    background-color:white;
    width: 100%;
    height: auto;
    display:flex;
}
.l2box{
    width:200px;
    height: 200px;
}
.header-8 .l2box img {
    width:200px;
    margin-left: 40px;
    margin-top: 0px;
}
.header-8 .l2box h2{
    margin-bottom: 0px;
}
.header-9{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(243, 240, 235);
}
.foot{
    width:200px;
    height: 150px;
    margin-left:4%;
}
.header-9 .foot ul{
    list-style-type: none;
}
.header-9 .foot ul li:first-child{
    color:black;
    font-weight: bolder;
    margin-bottom: 15px;
}
.header-10 ul{
 background-color: rgb(243, 240, 235); 
margin-top: -1px;
padding-bottom: 2px;  
border: 1px solid darkgrey;
}
.header-10 ul li{
    display: inline;
}
.header-10 ul li:nth-child(2){
    padding-left: 25%;
}
.header-10 ul li:nth-child(3){
    padding-left: 44%;
}
